@page "/login"

@inject NavigationManager navigationManager
@inject IAuthService authService

<h3>Login</h3>

@code {
    [SupplyParameterFromQuery]
    [Parameter]
    public string? Code { get; set; }

    protected override void OnParametersSet()
    {
        if (!string.IsNullOrEmpty(Code))
        {
            var result = authService.Login(Code);
        }

        navigationManager.NavigateTo("/");

        base.OnParametersSet();
    }
}
